@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<div class="card text-center text-white bg-secondary mb-3">
  <h5 class="card-header">Details for @Model.Name</h5>
  <div class="card-body">
    <h5 class = "card-title">Specialty</h5>
    <h3 class="card-text">@Model.Specialty</h3>
    @if (Model.Clients.Count > 0)
{
  <div class = "List-group-item">Clients:</div>
  <ul class="list-group">
@foreach (Client client in Model.Clients)
{
    @Html.ActionLink($"{client.Name}", "Details", "Clients", new {id = client.ClientId}, new {@class="list-group-item list-group-item-action list-group-item-light"})
}
</ul>
}
else
{
<p>There are currently no clients for this stylists</p>
}

  @Html.ActionLink("AddClient","Create", "Clients", new{id=Model.StylistId}, new {@class="list-group-item list-group-item-action list-group-item-primary"})
  @Html.ActionLink("Edit", "Edit", new {id = Model.StylistId}, new {@class="list-group-item list-group-item-action list-group-item-warning"})

  </div>

</div>


